#contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
}

.form-group {
    padding: 8px;
   
    /* text-align: center; */
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
}

#subject {
    width: 100%;
    padding: 12px;
    height: 100px;
}
